#fondo{
    background-color: rgb(19, 3, 32);
}

.dropdown-menu-custom {
    background-color: rgb(14, 12, 27);
    border-color: rgb(14, 12, 27);
  }

  #text1 {
    margin-bottom: 50%;
    font-size: 20px;
  }

  .accordion {
    margin: 0 20px; /* Agrega un margen de 20px a ambos lados */
  }

  #borde1{
    margin-inline:initial;
  }

#contenido1{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;

}

--Animación en el logo--

.shake {
    transition: transform 0.2s;
  }
  
  .shake:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% {
      transform: translateX(0px);
    }
    25% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(2px);
    }
    75% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(0px);
    }
  }